# Nest
PORT=3333

# Prisma (Database)
DATABASE_URL="postgresql://postgres:docker@localhost:5432/nest-clean?schema=public"

# Auth (JWT)
JWT_PRIVATE_KEY=""
JWT_PUBLIC_KEY=""

# Cloudflare
CLOUDFLARE_ACCOUNT_ID=""
AWS_BUCKET_NAME=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""

# Redis
REDIS_HOST='127.0.0.1'
REDIS_PORT=6379
REDIS_DB=0

# Landing page (optional)
GITHUB_REPOSITORY_URL=""